/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */
html { font-size: 62.5%; }
body { font-size: 14px; font-size: 1.4rem; } /* =14px */

body {
    margin: 0;
    padding: 0;
    background: url('../images/site-images/body-bg.png') repeat-x center top;
}

#wrapper {
}

h1, h2, h3, h4, p {
    color: black;
}

/*#content h1, #content h2, #content h3, #content h4, #content p, #content img, #copyright p {
    margin-left: 10px;
}*/

#header {
    background: url('../images/site-images/bkg_header.jpg') repeat-y center top;
}

#header .logo {
    margin-left: 10px;
}

.headline, .quote {
    background: url('') 0 0 repeat-x;
    -khtml-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin-bottom: 1rem;
}

.clientlogin a {
    background: transparent url(../images/icons/Briefcase-icon-32.png) no-repeat scroll left center;
    line-height:43px;
    padding: 1rem 0 1rem 4rem;

}

.pdf a {
    background: transparent url(../images/icons/pdf_file.png) no-repeat scroll left center;
    line-height:43px;
    padding: 1rem 0 1rem 4rem;

}

.login a{
    background: transparent url(../images/icons/key.png) no-repeat scroll left center;
    padding: 1rem 0 1rem 4rem;

}

.userlink a{
    background: transparent url(../images/icons/Profile-icon-32.png) no-repeat scroll left center;
    padding: 1rem 0 1rem 4rem;

}

.caccount a{
    background: transparent url(../images/icons/book.png) no-repeat scroll left center;
    padding: 1rem 0 1rem 4rem;

}

.headline h2, .quote h2 {
    margin-left: 1rem;
    -webkit-background-clip: text;
    text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.3) -1px -2px;
}

.quote h2 {
    font-size: 20px;
    font-size: 2rem;
    font-style: italic;
}

#header h1 {
    color: white;
    font-size: 20px;
    font-size: 1.75rem;
}

#logo {
    margin-left: 5px;
}

#logo, #slogan {
    margin-top: 5px;
}

#footer {
    overflow: hidden;;
    padding-bottom: 34px;
    background-color: white;
    color: #333333;
}

#bodycontent, #content {
    background-color: white;
    min-height: 400px;
}

#copyright {
    background-color: white;
    border-top: thin solid #333333;
    border-bottom: thin solid #333333;
    height: 30px;
    color: #333333;
}

#copyright p {
    font-size: 12px;
    font-size: 1.15rem;
    margin-top: 5px;
    margin-top: .55rem;
}

#tagline {
    height: 20px;
    background-color: #111111;
    border-top: white solid 2px;
    border-bottom: white solid 2px;
}

#tagline p {
    vertical-align: middle;
    font-size: 10px;
    font-size: 1.0rem;
    color: white;
    margin-top: 2px;
    margin-top: .25rem;
}


/* -----------------------------------------
   Main Navigation
----------------------------------------- */

#submenu {
    background: #ffffff url('../images/site-images/menu.png') no-repeat center top;
    height: 30px;
}

#topmenu {
    z-index: 9999;
    position: relative;
    top: 10px;
    background-color: #a0ac62;
    -khtml-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

#metamenu ul, #topmenu ul {
    list-style-type: none;
}
#topmenu ul {
    margin-left: 35px;
}
#metamenu ul {
    margin-top: 4px;
}

#metamenu ul li, #topmenu ul li {
    float: left;
    position: relative;
    overflow: hidden;
    margin-bottom: 0;
}

#metamenu ul li a, #topmenu ul li a {
    font-size: 12px;
    font-size: 1.15rem;
    padding: 0 12px 0 12px;
    color: #000;
    text-transform: capitalize;
    text-decoration: none;
}

#metamenu ul li a:hover, #topmenu ul li a:hover {
    text-decoration: underline;
}

/* -----------------------------------------
   Gallery
----------------------------------------- */


#gallery {
    margin-left:10px;
    margin-top:10px;
}

#gallery, #upload {
    border: 1px solid #ccc; width: 570px; padding: 10px;
}
#blank_gallery {
    font-family: Arial; font-size: 18px; font-weight: bold;
    text-align: center;
}
.adminthumb {
    float: left;  padding: 10px; margin: 10px; background-color: #ddd;
}
.thumb {
    float: left; width: 150px; height: 100px; padding: 10px; margin: 10px; background-color: #ddd;
}
.thumb:hover {
    outline: 1px solid #999;
}
.deleteimage {
    float:right;
}
img {
    border: 0;
}
#gallery:after {
    content: "."; visibility: hidden; display: block; clear: both; height: 0; font-size: 0;
}



/* -----------------------------------------
   Home Page
----------------------------------------- */

/* -----------------------------------------
   Project Page
----------------------------------------- */

#project h3 {
    font-size: 1.6rem;
}

#project h4 {
    font-size: 1.2rem;
}

#commitment {
    border: #514030 solid thin;
    -khtml-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-color: #c9b6a5;
}

#commitment h3 {
    font-weight: normal;
    font-size: 1.6rem;
    text-align: center;
}

#commitment h4 {
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
}

#RewardBox {
    background-color: #e9e1da;
    border: #ad9076 solid thin;
    -khtml-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

#commitment .pledge {
    background-color: #e9e1da;
    border: #ad9076 solid thin;
    -khtml-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    height: 17px;
    text-align: center;
}

#commitment .reward {
    background-color: #e9e1da;
    border: #ad9076 solid thin;
    -khtml-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

#commitment .reward p {
    margin-left: 5px;
}

/* -----------------------------------------
   Projects Page
----------------------------------------- */

.projectGalleryItem {
    border: #596c55 thin solid;
    -khtml-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin-left: 10px;
}

.projectGalleryItem img {
    margin: 3px 3px 3px 3px;
}

.projectGalleryItem h3 {
    font-size: 1.5rem;
}

.projectGalleryItem  h4 {
    font-size: 1.25rem;
}

.projectGalleryItem p {
    font-size: 1rem;
}

