/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Main Navigation
:: Control Panel
:: Gallery Page
:: Home Page
:: Project Page
:: Projects Page
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */
html { font-size: 62.5%; }
body { font-size: 14px; font-size: 1.4rem; } /* =14px */

body {
    margin: 0;
    padding: 0;
     background: url("../images/site-images/back_top.jpg") no-repeat scroll 50% 0 #45BCE8;
}

#wrapper {

}

h1, h2, h3, h4, p {
    color: black;
}

h1, #header a {
    font-family: 'Eagle Lake', cursive;
    color: red;
}

h2 {
    font-size: 36px;
    line-height: 40px;
    font-size: 3rem;
}

h4 {
    font-size: 18px;
    font-size: 1.75rem;
}

h2,h3,h4 {
    font-family: 'Droid Serif', Georgia, Times, serif;

}

p {
    font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 25px;
}

#header {

    background: #ffffff;
}

#header .logo {
    margin-left: 10px;
}

.headline, .quote {
    background: url('') 0 0 repeat-x;
    -khtml-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin-bottom: 1rem;
}

.clientlogin a {
    background: transparent url(../images/icons/Briefcase-icon-32.png) no-repeat scroll left center;
    line-height:43px;
    padding: 1rem 0 1rem 4rem;

}

.pdf a {
    background: transparent url(../images/icons/pdf_file.png) no-repeat scroll left center;
    line-height:43px;
    padding: 1rem 0 1rem 4rem;

}

.login a{
    background: transparent url(../images/icons/key.png) no-repeat scroll left center;
    padding: 1rem 0 1rem 4rem;

}

.userlink a{
    background: transparent url(../images/icons/Profile-icon-32.png) no-repeat scroll left center;
    padding: 1rem 0 1rem 4rem;

}

.caccount a{
    background: transparent url(../images/icons/book.png) no-repeat scroll left center;
    padding: 1rem 0 1rem 4rem;

}

.headline h2, .quote h2 {
    margin-left: 1rem;
    -webkit-background-clip: text;
    text-shadow: rgba(0,0,0,0.5) -1px 0, rgba(0,0,0,0.3) 0 -1px, rgba(255,255,255,0.5) 0 1px, rgba(0,0,0,0.3) -1px -2px;
}

.quote h2 {
    font-size: 20px;
    font-size: 2rem;
    font-style: italic;
}

#header h1 {
    color: white;
    font-size: 20px;
    font-size: 3.45rem;
}

#logo {
    margin-left: 5px;
}

#logo, #slogan {
    margin-top: 5px;
}

#footer {
    overflow: hidden;;
    padding-bottom: 34px;
    background-color: white;
    color: #333333;
}

#bodycontent, #content,
#locationinfo{
    background-color: white;
}

#copyright {
    background-color: white;
    border-top: thin solid #333333;
    border-bottom: thin solid #333333;
    height: 30px;
    color: #333333;
}

#copyright p {
    font-size: 12px;
    font-size: 1.15rem;
    margin-top: 5px;
    margin-top: .55rem;
}

#metamenu nav {
    float: right;
}

/* -----------------------------------------
   Featured Content
----------------------------------------- */

#featured {
    height: 190px;
    background: #ffffff;
}

#featured #s1 {

}

#featured #s1 img {
    width: 980px;
}

/* -----------------------------------------
   Main Navigation
----------------------------------------- */

#navigation {
    height: 30px;
}

#topmenu {
    background: url("../images/site-images/back_menu.png") repeat-x scroll 0 0 transparent;
    height: 30px;
    z-index: 9999;
    position: relative;
    -khtml-border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin-left: 0;
    padding: 0;
}

#topmenu ul.sf-menu {
    padding-bottom: 0;
    height: 30px;
}

#topmenu ul.sf-menu li.sfHover ul, #topmenu ul.sf-menu li:hover ul {
    left: 0;
    top: 2.1em;
    z-index: 99;
}

#topmenu li {
    background: url("../images/site-images/sep1.png") no-repeat scroll 100% 6px transparent;
    display: block;
    float: left;
    padding: 1px 2px 0 0;
    position: relative;

}
#topmenu ul li ul li{
    background: #003B54;
    border: none;
    border-left: none;
}

ul.flyout li a,
.nav-bar li ul li a {
    border: none;
    border-width: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
#topmenu li.last {
    background: none repeat scroll 0 0 transparent;
}
#topmenu li a, #topmenu li a:link,
#topmenu li a:visited {
    color: #FFFFFF;
    display: block;
    float: left;
    font-size: 1em;
    font-weight: bold;
    padding: 8px 20px;
    text-transform: uppercase;
}
#topmenu li a:hover, #placemainmenu #topmenu li:hover a, #placemainmenu #topmenu li:hover a:link, #placemainmenu #topmenu li:hover a:visited, #topmenu li.active a, #topmenu li.active a:link, #topmenu li.active a:visited {
    background: none repeat scroll 0 0 #004863;
    text-decoration: none;
}

/* -----------------------------------------
   Home Slideshow
----------------------------------------- */

#slides {
    margin: 15px 0;
}

.slide {
    position: relative;
}

.slide .text {
    position: absolute;
    z-index: 100;
    top: 5px;
    color: white;
}

.slide .text p {
    color: white;
}

/* -----------------------------------------
   Gallery
----------------------------------------- */

#gallery {
    margin-left:10px;
    margin-top:10px;
}

#gallery, #upload {
    border: 1px solid #ccc; width: 570px; padding: 10px;
}
#blank_gallery {
    font-family: Arial; font-size: 18px; font-weight: bold;
    text-align: center;
}
.adminthumb {
    float: left;  padding: 10px; margin: 10px; background-color: #ddd;
}
.thumb {
    float: left; width: 150px; height: 100px; padding: 10px; margin: 10px; background-color: #ddd;
}
.thumb:hover {
    outline: 1px solid #999;
}
.deleteimage {
    float:right;
}
img {
    border: 0;
}
#gallery:after {
    content: "."; visibility: hidden; display: block; clear: both; height: 0; font-size: 0;
}



/* -----------------------------------------
   Home Page
----------------------------------------- */


/* -----------------------------------------
   Locations Page
----------------------------------------- */

#map-canvas {
    margin: 20px 0;
}


/* Tag cloud */

#tags {
    margin: 20px 0;
}

#tags ul {
        margin:1em 0;
        padding:.5em 10px;
        text-align:center;
    }
    #tags li{
        margin:0 10px;
        padding:0;
        list-style:none;
        display:inline;
        float: left;
        background-color: #7CC0F4;
        border:1px solid #3277AD;
        -moz-border-radius: 4em 0em 0em 4em;
        border-radius: 4em 0em 0em 4em;
    }
    #tags li a{
        text-decoration:none;
        color:#fff;
        padding:2px 8px 2px 15px;
    }
    #tags li a:hover{
        color:#cff400;
    }

/* // Tag cloud */


/* -----------------------------------------
   Add Locations Page
----------------------------------------- */

body.addlocation #thankyou {
	display: none;
}

